
body {

    /* background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    font-family: fantasy;
    background-color: aquamarine;

}

#mainHeading {

    font-size: 30px;
    text-align: right;
}
    
